{% extends "../base.html" %}
{% block nav %}{% endblock %}
{% block content %}
<div id="home">
	<div id="intro" class="panel">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="subhead"> Welcome to the world of </div>
					<div class="headline melty">Melty</div>
					<div class="headline goodness">Goodness</div>
					<div id="dotted-line" class="dotted-line"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="logo" class="panel nav-panel">
		<img class="logo-sans-stick" src="/assets/images/logo-sans-stick.svg">
		<img class="logo-stick" src="/assets/images/logo-stick.svg"><
	</div>
	<div class="panel">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="headline reviews-of">Reviews of</div>
					<div class="headline mozzarella">Mozzarella</div>
					<div class="headline sticks asterisk">Sticks</div>
					<div class="subhead disclaimer">*And anything else in the breaded cheese family</div>
					<div class="dotted-line"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="subhead">We've pretty much got it down to a science</div>
						<div class="column-left">
							<div class="list-label"> Fig. 01: The six rating dimensions of Mozzstix</div>
							<ol>
								<li>Cheese</li>
								<li>Stretch</li>
								<li>Breading</li>
								<li>Crispiness</li>
								<li>Dip</li>
								<li>Presentation</li>
							</ol>
						</div>
						<div class="column-right">
							<img class="info-graphic-rating" viewBox="0 0 468 492" preserveAspectRatio="xMaxYMax" src="http://www.mozzstix.com/assets/info-graphic-rating.svg"></img>
						</div>
						<div class="dotted-line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel orange-bg">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="headline enjoy">Enjoy</div>
					<img class="emoji" src="http://www.mozzstix.com/assets/emoji.svg"></img>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- promos -->
  {%  for promo in reviews %}
    {% include "../partials/home-review.html" %}

  {% endfor %}
{% endblock %}
