{% extends "base.html" %}

{% block title %}Mozzstix - {{ review.name }}{% endblock %}
{% block meta %}
  <meta property="fb:app_id"       content="371959079641288" />
  <meta property="og:url"          content="{{ global.site.baseUrl }}{{ currentPath }}" />
  <meta property="og:type"         content="article" />
  <meta property="og:title"        content="{{ review.nameOfDish }} from {{ review.name }}" />
  <meta property="og:description"  content="{{ review.descriptionOfDish }}" />
  <meta property="og:image"        content="{{ review.heroImage.s3Key | image }}" />
{% endblock %}

{% block content %}
  <div id="review" class="{{ review.theme }}">
    <div class="hero-image-container">
      <div class="hero-image" style="background-image: url('{{ review.heroImage.s3Key | image }}');"></div>
    </div>
    <div class="review">
      <div class="review-header">
        <div class="name-of-dish">{{ review.nameOfDish }}</div>
        <div class="name">{{ review.name }}</div>
        <div class="address">{{ review.address }}<br>{{ review.city }}, {{ review.state }}, {{ review.zipCode }}</div>
        <div class="rating-wrapper">
          <div class="rating-{{ review.rating }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
        </div>
      </div>
      <div class="review-content">{{ review.reviewHtml | safe }}</div>
      {#<div class="price"><b>Price:</b> {{ review.price }}</div>#}
      {#<div class="price-per-stick"><b>Price per stick:</b> {{ review.pricePerStick }}</div>#}
      <table>
        <tr>
          <td class="key">Price</td>
          <td class="value">{{ review.priceDescription }}</td>
        </tr>
        <tr>
          <td class="key">Crispiness</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.crispiness }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key">Breading</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.breading }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key">Cheese</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.cheese }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key">Gooeyness</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.stretch }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key">Dip</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.dip }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="key">Presentation</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.presentation }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
        <tr class="overall-rating">
          <td class="key">Overall</td>
          <td class="value">
            <div class="rating-wrapper">
              <div class="rating-{{ review.rating }}">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="social-container">
    <div class="share-label">Share this</div>
    <button class="facebook-share" onclick="facebookShare();">
      <img class="facebook-share-logo" src="/assets/images/icon-facebook-share.svg">
    </button>
    {#<button class="email-share" onclick="facebookShare();">#}
      {#<img class="email-share-logo" src="/assets/images/icon-email-share.svg">#}
    {#</button>#}
  </div>

  <script>
    function facebookShare() {
      FB.ui({
        method: 'share',
        href: '{{ global.site.baseUrl }}{{ currentPath }}',
      }, function(response){});
    }
  </script>
{% endblock %}

