<!doctype html>
<html>
<head>
  <title>{% block title %}Mozzstix{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Content-Language" content="en"/>
  <meta name="keywords" content="mozzarella sticks,New York,review,restaurant,bar,diner,local,business,share,mozzstix">
  <meta name="application-name" content="Mozzstix">
  {% block meta %}
    <meta name="description" content="{{ site.description }}"/>
  {% endblock %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href={{ site.baseUrl }}/feed/rss.xml">
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/{{ global.assets['stylesheets/main.css'] }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch" title="Mozzstix"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/assets/{{ global.assets['javascripts/main.js'] }}"></script>
  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-90011450-1', 'auto');
    ga('send', 'pageview');

  </script>
  {% block scripts %}
    <script type="application/ld+json">
      {
        "@context":"http://schema.org",
        "@type":"Organization",
        "name":"Mozzstix",
        "url":"{{ site.baseUrl }}",
        "sameAs": ["http://www.instagram.com/mozzstix", "http://www.mozzsticks.com"]
       }
    </script>
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '371959079641288',
      xfbml: true,
      version: 'v2.5'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div container class="container wrapper">
  {% block nav %}
    <div id="logo" class="panel nav-panel lock-nav">
      <a class="home-redirect" href="/">
        <img class="logo-stick" src="/assets/images/logo-stick.svg">
      </a>
    </div>
  {% endblock %}
  <section class="main">
    {% block content %}{% endblock %}
  </section>
  <section id="footer">
    <div class="footer-wrapper">
      <img src="/assets/images/footer.svg"></img>
      <div class="legal-line">Mozzstix 2024 &copy;</div>
    </div>
  </section>
</div>
</body>
</html>
