<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/{{ global.assets['stylesheets/main.css'] }}">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/assets/{{ global.assets['javascripts/main.js'] }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<div id="home">
	<div id="intro" class="panel">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="subhead"> Welcome to the world of </div>
					<div class="headline melty">Melty</div>
					<div class="headline goodness">Goodness</div>
					<div id="dotted-line" class="dotted-line"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="logo" class="panel nav-panel">
		<img class="logo-sans-stick" src="http://www.mozzstix.com/logos/logo-sans-stick.svg"></img>
		<img class="logo-stick" src="http://www.mozzstix.com/logos/logo-stick.svg"></img>
	</div>
	<div class="panel">
		<div class="content-block">	
			<div class="content-container">
				<div class="content">
					<div class="headline reviews-of">Reviews of</div>
					<div class="headline mozzarella">Mozzarella</div>
					<div class="headline sticks asterisk">Sticks</div>
					<div class="subhead disclaimer">*And anything else in the breaded cheese family</div>
					<div class="dotted-line"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="content-block">
			<div class="content-container">
				<div class="content">
					<div class="subhead">We've pretty much got it down to a science</div>
						<div class="column-left">
							<div class="list-label"> Fig. 01: The six rating dimensions of Mozzstix</div>
							<ol>
								<li>Cheese</li>
								<li>Stretch</li>
								<li>Breading</li>
								<li>Crispiness</li>
								<li>Dip</li>
								<li>Presentation</li>
							</ol>
						</div>
						<div class="column-right">
							<img class="info-graphic-rating" viewBox="0 0 468 492" preserveAspectRatio="xMaxYMax" src="http://www.mozzstix.com/assets/info-graphic-rating.svg"></img>
						</div>
						<div class="dotted-line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel orange-bg">
		<div class="content-block">	
			<div class="content-container">
				<div class="content">
					<div class="headline enjoy">Enjoy</div>
					<img class="emoji" src="http://www.mozzstix.com/assets/emoji.svg"></img>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Home -->

	<div class="promo">
		<div class="promo-label">Review</div>
		<div class="promo-container">
			<div class="promo-text-block promo-orange">
				<div class="promo-text-container">
					<div class="promo-text">
						<div class="promo-subhead">Molten Cheese Croutons</div>
						<div class="promo-headline">983 - Bushwick's Living Room</div>
						<div class="star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
					</div>
				</div>
			</div>
			<div class="promo-image-container" style="background-image:url(/assets/images/IMG_0479-crop.jpg);">
				<div class="promo-image-dim"></div>
				<div class="button-container">
					<div class="button">
						<a href=""><div class="button-label">Check out the review</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="promo">
		<div class="promo-label">Review</div>
		<div class="promo-container">
			<div class="promo-text-block promo-yellow">
				<div class="promo-text-container">
					<div class="promo-text">
						<div class="promo-subhead">Molten Cheese Croutons</div>
						<div class="promo-headline">983 - Bushwick's Living Room</div>
						<div class="star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
					</div>
				</div>
			</div>
			<div class="promo-image-container" style="background-image:url(/assets/images/IMG_0479-crop.jpg);">
				<div class="promo-image-dim"></div>
				<div class="button-container">
					<div class="button">
						<a href=""><div class="button-label">Check out the review</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="promo">
		<div class="promo-label">Review</div>
		<div class="promo-container">
			<div class="promo-text-block promo-orange">
				<div class="promo-text-container">
					<div class="promo-text">
						<div class="promo-subhead">Molten Cheese Croutons</div>
						<div class="promo-headline">983 - Bushwick's Living Room</div>
						<div class="star-rating">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</div>
					</div>
				</div>
			</div>
			<div class="promo-image-container" style="background-image:url(/assets/images/IMG_0479-crop.jpg);">
				<div class="promo-image-dim"></div>
				<div class="button-container">
					<div class="button">
						<a href=""><div class="button-label">Check out the review</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>