$promo-height-desktop: 640px;
$promo-height-mobile: 500px;
$margin-desktop: 80px;
$margin-mobile: 40px;

body {
	margin: 0;
	padding: 0;
	font-family: Open Sans;
	color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}

/* Home promo ----------------------------------*/
.promo-container {
  padding: 10px 10px 0 10px;
  //max-width: 960px;
  margin: 0 auto;
}
.promo {
	width: 100%;
	position: relative;
}

.promo-text-block {
	padding-top: 60px;
	padding-bottom: 40px;
}
.promo-text-container {
	margin: 0 $margin-mobile;
	max-width: 488px;
	text-align: center;
}
.promo-label {
	position: absolute;
	top: 25px;
	left: 25px;
	border-left: solid;
	border-width: 6px;
	padding-left: 8px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	color: #770000;
	z-index: 3;
}
.promo-subhead {
	font-size: 14px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-weight: 400;
  line-height: 1.2em;
}
.promo-headline {
	font-size: 24px;
	line-height: 1.1em;
	margin-bottom: 5px;
	letter-spacing: -.5px;
	font-weight: 800;
	text-transform: uppercase;
}
.button-label {
	font-size: 20px;
	font-weight: 800;
}
.promo-image-container {
	height: 260px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	position: relative;

}
.image-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));;

}
.promo-image-dim {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4)

}

.button {
  will-change: transform;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #ec5002;
  padding: 14px 24px;
  transition: transform .15s;
}
.button:before, .button:after {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  will-change: border-left-width, border-top-width;
}
.button:before{
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  border-bottom-width: 0;
  border-left-color: #970000;
  border-top-width: 7px;
  transition: border-left-width .15s, border-top-width .15s;
}
.button:after{
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  border-left-width: 7px;
  border-right-width: 0;
  border-top-width: 7px;
  border-top-color: #970000;
  transition: border-left-width .15s, border-top-width .15s;
}
.button:hover {
  transform: translate(7px, 7px);
}
.button:hover:before, .button:hover:after {
  border-left-width: 0;
  border-top-width: 0;
}
.button-label {
	font-size: 16px;
	font-weight: 800;
	letter-spacing: .5px;
	text-transform: uppercase;
	white-space: nowrap;
}
.button-container {
	position: absolute;
	left: 50%; transform: translate(-50%, 0%);
	bottom: 40px;
}

@media(min-width: 375px) {
  .promo-container {
    padding: 20px 20px 0 20px;
  }
  .promo-subhead {
    font-size: 16px;
  }
  .promo-headline {
    font-size: 32px;
  }
  .button-label {
    font-size: 20px;
  }
  .promo-image-container {
    height: 300px;
  }
  .button-container {
    bottom: 50px;
  }
}

@media(min-width: 568px) {
	.promo-text-container {
	margin: 0 auto;
	text-align: center;
	}
}

@media(min-width: 1024px) {
  .promo-container {
    padding: 40px 40px 0 40px;
  }
	.promo-label {
		top: 40px;
		left: 40px;
		font-size: 20px;
	}
	.promo-text-block {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.promo-text-container {
		margin: 0 auto;
		max-width: 640px;
	}
	.promo-subhead {
		font-size: 32px;
		font-weight: 200;
		margin-bottom: 10px;
	}
	.promo-headline {
		font-size: 54px;
		line-height: 68px;
		//margin-bottom: 0;
		text-transform: uppercase;
	}
	.star-rating {
		font-size: 42px;
	}
  .promo-image-container {
    height: 400px;
  }
  .button-container {
    bottom: 174px;
  }
  .button {
    padding: 20px 40px;
  }
  .button-label {
    font-size: 28px;
  }
}
