/* Rating ----------------------------------*/

.rating {
  &:after {
    left: 0;
    content: "\2605\2605\2605\2605\2605";
    position: absolute;
    overflow: hidden;
  }
}
.rating-wrapper {
  position: relative;
  display: table;
   margin: 0 auto;
   text-align: center;
}

@mixin rating-generator ($width, $star-color) {
  @extend .rating;
  &:after {
    width: $width;
    color: $star-color;
  }
}
.rating-1 {@include rating-generator(20%, #ffcc00);}
.rating-2 {@include rating-generator(40%, #ffcc00);}
.rating-3 {@include rating-generator(60%, #ffcc00);}
.rating-4 {@include rating-generator(80%, #ffcc00);}
.rating-5 {@include rating-generator(100%, #ffcc00);}
.rating-1-5 {@include rating-generator(30%, #ffcc00);}
.rating-2-5 {@include rating-generator(50%, #ffcc00);}
.rating-3-5 {@include rating-generator(70%, #ffcc00);}
.rating-4-5 {@include rating-generator(90%, #ffcc00);}

.promo-rating {
  font-size: 28px;
}
@media(min-width: 1024px) {
  .promo-rating {
    font-size: 48px;
  }
}
